{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Смена пароля</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="change-password-form" method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <h3>Смена пароля</h3>

        <label for="new_password1">Новый пароль</label>
        <input type="password" placeholder="Новый пароль" id="new_password1" name="new_password1" oninput="validateInput()">
        <p id="error-message" class="error"></p>
        <label for="new_password2">Повторите новый пароль</label>
        <input type="password" placeholder="Повторите новый пароль" id="new_password2" name="new_password2" oninput="validateInput()">

        <button type="submit">Сменить пароль</button>
        
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById('change-password-form');
            const newPassword1 = document.getElementById('new_password1');
            const newPassword2 = document.getElementById('new_password2');
            const errorMessage = document.getElementById('error-message');

            function displayError(message) {
                if (message) {
                    errorMessage.textContent = message;
                    errorMessage.style.display = 'block';
                } else {
                    errorMessage.textContent = '';
                    errorMessage.style.display = 'none';
                }
            }

            function validateInput() {
                const password1 = newPassword1.value;
                const password2 = newPassword2.value;

                if (!password1 || !password2) {
                    displayError("Пароль не может быть пустым.");
                    return;
                }

                if (password1.length < 6 || password2.length < 6) {
                    displayError("Пароль должен содержать не менее 6 символов.");
                    return;
                }

                if (/[а-яА-Я]/.test(password1) || /[а-яА-Я]/.test(password2)) {
                    displayError("Пароль не должен содержать русские символы.");
                    return;
                }

                if (password1 !== password2) {
                    displayError("Пароли не совпадают.");
                    return;
                }

                const xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'change_password' %}", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.exists) {
                                displayError("Такой пароль уже был установлен.");
                            } else {
                                displayError("");  // clear any previous error message
                            }
                        }
                    }
                };
                xhr.send(JSON.stringify({password: password1, check_only: true}));
            }

            form.addEventListener("submit", function(event) {
                event.preventDefault();
                const password1 = newPassword1.value;
                const password2 = newPassword2.value;

                if (!password1 || !password2) {
                    displayError("Пароль не может быть пустым.");
                    return;
                }

                if (password1.length < 6 || password2.length < 6) {
                    displayError("Пароль должен содержать не менее 6 символов.");
                    return;
                }

                if (/[а-яА-Я]/.test(password1) || /[а-яА-Я]/.test(password2)) {
                    displayError("Пароль не должен содержать русские символы.");
                    return;
                }

                if (password1 !== password2) {
                    displayError("Пароли не совпадают.");
                    return;
                }

                const formData = new FormData(form);
                fetch("{% url 'change_password' %}", {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = "{% url 'login' %}";
                    } else {
                        displayError(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
