{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Смена пароля</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="{% url 'password_reset_confirm' %}">
        {% csrf_token %}
        <label for="code">Код с почты</label>
        <input type="text" placeholder="Код" id="code" name="code">

        <label for="new_password1">Новый пароль</label>
        <input type="password" placeholder="Новый пароль" id="new_password1" name="new_password1">

        <label for="new_password2">Повторите новый пароль</label>
        <input type="password" placeholder="Повторите новый пароль" id="new_password2" name="new_password2">

        <button type="submit">Сменить пароль</button>
        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
    </form>
</body>
</html>
